@tailwind base;
@tailwind components;
@tailwind utilities;

.backImage{
    background-image: url("../public/img/math.jpg");
}

.categoryBackImage{
    background-image: url("../public/img/al.jpg");
}

.active{
    scale: 1.2;
    color: #128270;
}

.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  
    &::-webkit-scrollbar {
      width: 0; /* Safari and Chrome */
    }
  }
  
  
  
  
  
